future
emoji
requests
sqlalchemy==1.3.23
python-telegram-bot
psycopg2-binary
feedparser
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
#telegram
zalgo_text
pynewtonmath
bs4
telegraph
mal
mal-api
telethon
rotten_tomatoes_client
lxml
cssselect
speedtest
datetime
speedtest-cli>=2.0.2
googletrans
wikipedia
spamwatch
bleach
git+https://github.com/starry69/python-markdown2.git
alphabet_detector
psutil
pythonping
